@model EmployeeManagement.Models.Employee.ViewEmployee
@using System.Globalization
@{
    ViewData["Title"] = "View";
    string FormatCurrency(double number)
    {
        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
        return number.ToString("#,###", cul.NumberFormat);
    }
    string skills = @Model.Skill;
    string[] listSkill = skills.Split(' ');
}  
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                            <li class="nav-item">
                                <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                            </li>
                            <li class="nav-item">
                                <a    class="nav-link active" asp-controller="Employee" asp-action="Modify" asp-route-employeeId="@Model.EmployeeId"><i class="icon-note"></i> <span class="hidden-xs" >Edit</span></a>
                            </li>
                            <li class="nav-item">
                                <div class="main-grid">

                                    <a asp-controller="Employee" asp-action="Index" asp-route-offiId="@ViewBag.OfficeId" 
                                       class="nav-link active">
                                        <i class="zmdi zmdi-run"></i> 
                                        <span class="hidden-xs">BACK</span>
                                    </a>                                                                      
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane active" id="profile">
                                <img style="width : 300px; height : 300px;" class="img-thumbnail no-photo " src="@Model.ExistPhoto" alt="no photo" />
                                <div class="row">
                                    <div class="col-md-6">
                                       <br /> NAME : <h5 class="mb-3">@Model.EmployeeName</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Skill</h6>
                                        @foreach (var skill in listSkill)
                                        {
                                            <p  class="badge badge-dark badge-pill">
                                                @skill
                                            </p>
                                        }

                                        <hr>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 class="mt-2 mb-3"><span class="fa fa-clock-o ion-clock float-right"></span> Information</h5>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>Introduce : @Model.Introduce</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Date Of Birth : @Model.Dob</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Street : @Model.Street</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Working Day : @Model.Workingday</strong>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <div class="tab-pane" id="messages">
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <div class="alert-icon">
                                        <i class="icon-info"></i>
                                    </div>
                                    <div class="alert-message">
                                        <span><strong>Info!</strong> Lorem Ipsum is simply dummy text.</span>
                                    </div>
                                </div>
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->
    </div>
    <!-- End container-fluid-->
</div><!--End content-wrapper-->
